
.icon-hover:hover{
        color: $green-dark;
}
.page{
    cursor: pointer;
    li:hover{
        background: $green-dark;
        color: $white;
    }
.page-item{
    padding-right: 11.5px;
    padding-left: 11.5px;
}
.page-color{
    color:$white;
    background: $green-dark;
}
.page-border{
    border-left: 1px solid $green-dark;
    border-bottom: 1px solid $green-dark;
    border-top: 1px solid $green-dark;
}
.arrow-r{
    border: 1px solid $green-dark;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.arrow-l{
    border-bottom: 1px solid $green-dark;
    border-top: 1px solid $green-dark;
    border-left: 1px solid  $green-dark ;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
}
.adminModal-Custom{
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

  /* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 2px solid $black;
}

  /* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

  /* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: $black;
}

  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

  /* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

  /* Style the checkmark/indicator */
.container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
}
.modal-userIcon{
    width: 141px;
    height: 141px;
    object-fit:cover ;
}
.modal-content{
.js-dropdown{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
}
.show{
    max-height: 99px;
}
.js-icon{
    transition: all 0.5s;
}
.active{
    transform: rotate(180deg);
}
}

